# Device identity
DEVICE_CODE=orange-pi-zero3-01
DEVICE_NAME=OrangePi Zero3 #1
DEVICE_FIRMWARE_VERSION=iot-device-1.2.0
# Info IP perangkat saat test (opsional catatan)
# DEVICE_IP=192.168.0.101

# Device -> Laravel Gateway API
IOT_API_URL=http://192.168.0.104:8000/api/iot/scan
IOT_HEALTH_URL=http://192.168.0.104:8000/api/iot/health
IOT_HEARTBEAT_URL=http://192.168.0.104:8000/api/iot/device/heartbeat
IOT_COMMAND_URL=http://192.168.0.104:8000/api/iot/device/command
IOT_REGISTER_CAPTURE_URL=http://192.168.0.104:8000/api/iot/register/capture
IOT_DEVICE_TOKEN=orange-pi-zero3-token
IOT_TIMEOUT=15
HEARTBEAT_INTERVAL_SEC=8
COMMAND_POLL_INTERVAL_SEC=2

# Optional explicit microservice endpoints for health checker
FACE_GATEWAY_URL=http://192.168.0.104:8000/api/face/attendance
FACE_ENGINE_HEALTH_URL=http://192.168.0.104:8001/health

# Camera
CAMERA_INDEX=1
CAMERA_WIDTH=640
CAMERA_HEIGHT=480
CAMERA_WARMUP_SEC=0.4
CAMERA_USE_V4L2=true
JPEG_QUALITY=90
FACE_DETECT_INTERVAL_SEC=0.15
FACE_EVENT_COOLDOWN_SEC=3
FACE_MIN_SIZE=60
ATTENDANCE_AUTH_MODE=both
ATTENDANCE_ATTEMPT_COOLDOWN_SEC=2.5
FACE_RETRY_MAX_ATTEMPTS=3
RFID_FACE_WAIT_TIMEOUT_SEC=20

# RFID mode: softspi | serial | rc522 | stdin
RFID_MODE=softspi
RFID_SERIAL_PORT=/dev/ttyUSB0
RFID_SERIAL_BAUDRATE=9600
RFID_CACHE_TTL_SEC=8
CONSUME_RFID_AFTER_ATTEMPT=true

# RC522 software SPI via gpiod (sesuai wiring OrangePi)
RFID_SOFTSPI_GPIO_CHIP=/dev/gpiochip1
RFID_SOFTSPI_LED_RED=69
RFID_SOFTSPI_LED_GREEN=70
RFID_SOFTSPI_RST=71
RFID_SOFTSPI_SCK=230
RFID_SOFTSPI_MOSI=231
RFID_SOFTSPI_MISO=232
RFID_SOFTSPI_CS=233

# Optional LCD 16x2 (I2C)
LCD_ENABLED=true
LCD_I2C_PORT=2
LCD_I2C_ADDRESS=0x27

# LED config
LED_ENABLED=true
LED_BACKEND=gpiod

# Jika LED_BACKEND=opi gunakan pin label ini
LED_GREEN_PIN=PC6
LED_RED_PIN=PC5

# Jika LED_BACKEND=gpiod gunakan line offset ini
LED_GPIOD_CHIP=/dev/gpiochip1
LED_GPIOD_GREEN=70
LED_GPIOD_RED=69

STANDBY_TEXT_INTERVAL_SEC=5
CAMERA_ERROR_REPEAT_SEC=3
